title
{
        margin-bottom: 10px;
        padding: 10px;
}  
.picture-container{
        
        object-fit: cover;
        align-items: cover;
        background-color: white;
        border: 0.5px solid #EDF1FF;
        margin: 15px;
        padding: 50px;
        box-sizing: border-box;
        
}   
