.shop-now-button{
    background-color: transparent;
    color: #D19C97;
    border: 1px solid  #D19C97;
    padding: 6px;
    width:120px;
    transition: all 0.3s;
}
.shop-now-button:focus{
    outline: none !important;
}

.shop-now-button:hover{
    background-color: #D19C97;
    color: black;
    outline: none !important;
    border:none;
}
.btn:focus,.btn:active {
    box-shadow: none;
    
 }
 @media screen and (max-width:768px) {
    .shop-now-button{
        width: 100px;
        
    }
 }